astroid==2.3.3
awscli==1.16.160
botocore==1.12.150
Click==7.0
colorama==0.3.9
dnspython==1.16.0
docutils==0.14
Flask==1.0.2
grpcio==1.20.1
gunicorn==19.9.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pyasn1==0.4.5
pylint==2.4.4
pymongo==3.10.1
python-dateutil==2.8.0
PyYAML==5.1
rsa==3.4.2
s3transfer==0.2.0
six==1.12.0
typed-ast==1.4.1
urllib3==1.24.3
Werkzeug==0.15.2
wrapt==1.11.2
